{% extends 'base/base.html' %}
{% load static %}
{% block title %} About Me {% endblock %}
{% block content %}
    <main>
        <center><h2>About Me</h2></center>
        <br>
        <h3 style="text-align: center;">Developer | Finance Enthusiast | Inventor</h3>
        <br>
        <h4>I am a highly motivated person who is willing to learn new things. I always try my best to complete the tasks given to me and as a perfectionist, I can finish it efficiently as possible. I love developing new things that can make changes to my life and of those around me.</h4>
        <br>
        <center><a href="linkedin.com/in/md-manzer-alam-0ba00280">My Linkedin</a></center>
        <br>
    </main>
    <style>
        main h4{
            margin: 0px auto;
            max-width: 70ch;
        }
        a{
            color: hsl(207, 100%, 33%);
        }
    </style>
{% endblock %}