{% extends 'base/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'base/css/index.css' %}">
    <main>
        <ul class="card_list">
            <li><img src="{% static 'base/media/undraw_Mail_re_duel.svg' %}" alt=""></li>
            <li>
                <h3>In house email campaign management system</h3>
                <br>
                <h1>{{email_count}} + Mails Sent</h1>
                <br>
                <a href="#" class="cta-btn">Request Access Now!</a>
            </li>
        </ul>
    </main>
{% endblock %}